<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>{{ title }}</title>
{% block custom_header %}
{% endblock %}
</head>

<body>
<div>
<a href="{{ url_for('index_page') }}">Quiz Web</a>
{% block breadclumb %}{% endblock %}
</div>

{% block content %}{% endblock %}

<div style="margin-top: 30px; font-size: 0.8rem;">
<hr>
Powered by <a href="https://github.com/satamame/quiz_web" target="_blank">Quiz Web &copy; 2021 satamame</a>
</div>
</body>
</html>
