{% extends "base.html" %}

{% block custom_header %}
<style type="text/css">
button {
    font-size: 0.8em;
}
.description {
    font-size: 0.9em;
    margin-left: 10px;
}
.button_cell {
    white-space: nowrap;
    padding-left: 20px;
    text-align: right;
    vertical-align: top;
}
</style>
{% endblock %}

{% block content %}
<h2>クイズ集一覧</h2>
<table style="max-width: 100%;">
{% for qset in qsets %}
    {% if not loop.first %}
        <tr><td height="5px"></td></tr>
    {% endif %}
    <tr>
    <td style="font-weight: bold;">{{ qset.title }}</td>
    <td class="button_cell">
        <a href="{{ url_for('quiz_page', qset_idx=loop.index0, quiz_idx=0) }}">
            <button>最初から</button></a>
        <a href="{{ url_for('quiz_page', qset_idx=loop.index0, quiz_idx=-1) }}">
            <button>ランダム</button></a>
        <a href="{{ url_for('qset_page', qset_idx=loop.index0) }}">
            <button>リスト</button></a>
    </td>
    </tr>
    {% if qset.description %}
        <tr><td colspan="2">
        <div class="description">{{ qset.description }}</div>
        </td></tr>
    {% endif %}
{% endfor %}
</table>
{% endblock %}
